KreyosIosApp.xcodeproj/project.xcworkspace/xcuserdata/krisjulio.xcuserdatad/UserInterfaceState.xcuserstate
KreyosIosApp.xcodeproj/xcuserdata/krisjulio.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
KreyosIosApp.xcodeproj/project.xcworkspace/xcuserdata/dev.xcuserdatad/UserInterfaceState.xcuserstate
KreyosIosApp.xcodeproj/xcuserdata/dev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
KreyosIosApp.xcodeproj/xcuserdata/dev.xcuserdatad/xcschemes/KreyosIosApp.xcscheme
KreyosIosApp.xcodeproj/xcuserdata/dev.xcuserdatad/xcschemes/xcschememanagement.plist
KreyosIosApp.xcodeproj/xcuserdata
